# .env
DATABASE_URL="postgresql://postgres:[TU_PASSWORD]@db.xxxx.supabase.co:5432/postgres"

# Para conexiones con pooling (recomendado en producción)
DIRECT_URL="postgresql://postgres:[TU_PASSWORD]@db.xxxx.supabase.co:6543/postgres"

