PORT=3000

DB_URI=mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/mi-base-de-datos?retryWrites=true&w=majority

JWT_SECRET=MiClaveSecretaSuperSegura_CambiarEnProduccion_32chars
JWT_EXPIRES_IN=15m

JWTR_SECRET=MiClaveSecretaSuperSeguraDistinta_CambiarEnProduccion_32chars
JWTR_EXPIRES_IN=7d
