PORT=3000
DB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/bildyapp
JWT_SECRET=super_secret_access_key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super_secret_refresh_key
JWT_REFRESH_EXPIRES_IN=7d
