PORT=3000
DB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/bildyapp

# JWT
JWT_SECRET=super_secret_access_key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super_secret_refresh_key
JWT_REFRESH_EXPIRES_IN=7d

# Email (Nodemailer)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=noreply@bildyapp.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Slack Incoming Webhook
SLACK_WEBHOOK_URL=
